# Normalize EOL for all files that Git considers text files
* text=auto eol=lf

# Unreal Engine File Types

# 3D Model and Asset Files

# Image and Texture Files

# Audio Files

# Video Files

# Document Files

# Other Binary Files
